h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}
.town {
    background: rgb(34, 193, 195);
}
.city {
    background: rgb(221, 112, 18);
}
.state {
    background: rgb(44, 209, 88);
}